body{
background-color: brown;
background-image: url(./mge/фвафва.jpg);
background-size: cover; 
background-attachment: scroll;
background-position: center;
text-align: center;
}

h1{
    font-size: 100px;

color: white;
text-shadow: 0px 0px 20px black;




}

p{
font-size: 28px;
background-color: white;
border-radius: 30px;
padding: 20px;


}

